out*.log
*/arduino/sketchbook/libraries/*
*.pyc
test-tasks/apc_pick_task.json
test-tasks/apc_stow_task.json
script/hand/gripper_angle

*.lib
*.ipch
*.suo
*.log
*.tlog
*.obj
*.idb
*.pdb
*.ilk
*.db
*.opendb
*.iobj
*.ipdb
win/win_node/x64/Debug/*

script/log_items_*.txt
script/log_candidates_*.txt
*~
script/log_imgs/*.jpg
script/log_imgs/*.png
script/log_imgs_raw/*.png
